.page-link {
  padding: 40px 0px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

ul {
  text-align: left;
  li {
    font-size: 1.3em;
  }
  margin-bottom: 40px;
}

button {
  -webkit-appearance: none;
  border-radius: 7px;
  border: none;
  // width: 50vw;
  height: 60px;
  color: $dark-purple;
  background-color: white;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 2px 2px 20px $dark-purple, -2px -2px 20px rgba($light-purple, 0.8);
  transition: 0.2s;
  &:active {
    color: $light-purple;
    background-color: $pastel-purple;
  }
  //   box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
