//colors

$dark-purple: #10002b;
$deep-purple: #3c096c;
$mid-purple: #7b2cbf;
$base-purple: #9d4edd;
$pastel-purple: #c77dff;
$light-purple: #e0aaff;

//padding
$app-padding: 20px;

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Poiret+One&family=Poppins:wght@400;600;700&display=swap");
